.cardImage {
  width: 100%;
  height: auto;
}
.cardItem {
  width: 33%;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.cardDes {
  padding: 24px 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 22.27px;
  letter-spacing: 0.02rem;
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 1100px) {
  .cardItem:hover {
    transform: scale(1.05);
    filter: grayscale(1);
  }
}
@media only screen and (max-width: 860px) {
  .cardItem {
    width: 80%;
    padding: 4%;
    border: 1px solid #eee;
    border-radius: 15px;
  }
}
